/* Golden Ratio */

.h1x {}
h1, .h1 {}
h1, .h1 {}
h2, .h1 {}
h3, .h3 {}
h4, .h4,
h5, .h5 {}
h6, .h6 {}
small, .xsm {}


body { font-size: 12px; font-family: Georgia, serif; } p { font-size: 1em; /* 12px */ line-height: 1.5em; /* 18px */ margin: 0 0 1.5em 0; }
/* 24px - The quick brown fox jumps over the lazy dog */
h1 { font-size: 2em; /* 24px */ line-height: 1.5em; /* 36px */ margin-top: 0.75em; margin-bottom: 0em; }
/* 22px - The quick brown fox jumps over the lazy dog */
h2 { font-size: 1.8333em; /* 22px */ line-height: 1.6364em; /* 36px */ margin-top: 0.8182em; margin-bottom: 0em; }
/* 20px - The quick brown fox jumps over the lazy dog */
h3 { font-size: 1.6667em; /* 20px */ line-height: 1.8em; /* 36px */ margin-top: 0.9em; margin-bottom: 0em; }
/* 18px - The quick brown fox jumps over the lazy dog */
h4 { font-size: 1.5em; /* 18px */ line-height: 1em; /* 18px */ margin-top: 1em; margin-bottom: 0em; }
/* 16px - The quick brown fox jumps over the lazy dog */
h5 { font-size: 1.3333em; /* 16px */ line-height: 1.125em; /* 18px */ margin-top: 1.125em; margin-bottom: 0em; }
/* 14px - The quick brown fox jumps over the lazy dog */
h6 { font-size: 1.1667em; /* 14px */ line-height: 1.2857em; /* 18px */ margin-top: 1.2857em; margin-bottom: 0em; }